<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="<%=baseURL%>/dashboard">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Menu</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-payment" aria-expanded="true" aria-controls="ui-basic-payment">
        <i class="menu-icon mdi mdi-cash-multiple"></i>
        <span class="menu-title">Pembayaran</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic-payment">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="<%=baseURL%>/payment/kios/form">Pembayaran Kios</a></li>
          <li class="nav-item"> <a class="nav-link" href="<%=baseURL%>/payment/bongkarmuat/form">Pembayaran Bongkar Muat</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-store" aria-expanded="false" aria-controls="ui-basic-store">
        <i class="menu-icon mdi mdi-store"></i>
        <span class="menu-title">Store</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic-store">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item kios"> <a class="nav-link" href="<%=baseURL%>/manajemen/kios/list">List Kios</a></li>
          <li class="nav-item kios"> <a class="nav-link" href="<%=baseURL%>/manajemen/kios/sewa">Form Sewa / Peralihan Sewa</a></li>
          <li class="nav-item kios"> <a class="nav-link" href="<%=baseURL%>/manajemen/kios/habis">Tutup / Habis Sewa</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-tarif" aria-expanded="false" aria-controls="ui-basic-tarif">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Setting Tarif</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic-tarif">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="<%=baseURL%>/tarif/retribusi/kios/table">Tarif Retribusi Kios</a></li>
          <li class="nav-item"> <a class="nav-link" href="<%=baseURL%>/tarif/retribusi/bongkarmuat/table">Tarif Bongkar Muat</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>