<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Pasar</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/feather/feather.css">
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="<%=baseURL%>/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/assets/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="<%=baseURL%>/assets/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="<%=baseURL%>/assets/images/favicon.png" />
  </head>
  <body class="with-welcome-text">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->    
      <% include ../../partials/_navbar %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <% include ../../partials/_sidebar %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-danger">                
                  <div class="card-body">
                    <label class="badge badge-success">KOSONG</label>
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>              

                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>                    
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>                    
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>                    
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-danger">
                  <div class="card-body">
                    <label class="badge badge-success">KOSONG</label>
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-danger">
                  <div class="card-body">
                    <label class="badge badge-success">KOSONG</label>
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>                    
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>                    
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-success">
                  <div class="card-body">
                    <label class="badge badge-danger">TERISI</label>                    
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-md-3 grid-margin stretch-card">
                <div class="card bg-danger">
                  <div class="card-body">
                    <label class="badge badge-success">KOSONG</label>
                    <h4 class="card-title text-white" >No. Kios 1</h4>                  
                    <p class="card-description text-white"> Blok Kios 1 </p>
                    <div class="row">
                      <div class="col-md-6">
                        <address>                        
                          <p class="text-white"> Luas: 4x6 m </p>
                          <p class="text-white"> Nama Penyewa: Anthony</p>
                          <p class="text-white"> Mulai Sewa: 1 Januari 2018 </p>
                          <p class="text-white"> Akhir Sewa: 31 Desember 2026 </p>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <p class="text-white"> Nomor Meter Listrik: 3151111222333 </p>
                          <p class="text-white"> Nomor Meter Air: 3151222111333 </p>
                          <p class="text-white"> Biaya Sewa: Rp. 540.000,- </p>                        
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Detail Kios
                    </button>

                  </div>
                </div>
              </div>

              <div class="col-sm-12">              
                <!-- <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Data Pasar</h4>
                        </p>
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th> ID Kios </th>
                                <th> Nomor Toko / Bedak / KIOS </th>
                                <th> Pemilik </th>
                                <th> Nama Pedagang </th>
                                <th> Tangan Ke </th>
                                <th> Besar Ketetapan </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>#13312</td>
                                <td>21331</td>
                                <td>Jamal</td>
                                <td>Rudi</td>
                                <td>4</td>
                                <td>65000</td>
                              </tr>
                              <tr>
                                <td>#13322</td>
                                <td>22331</td>
                                <td>Alex</td>
                                <td>Jamal</td>
                                <td>3</td>
                                <td>65000</td>
                              </tr>
                              <tr>
                                <td>#13212</td>
                                <td>21231</td>
                                <td>Bair</td>
                                <td>Alex</td>
                                <td>2</td>
                                <td>65000</td>
                              </tr>
                              <tr>
                                <td>#12312</td>
                                <td>21321</td>
                                <td>Agung</td>
                                <td>Bair</td>
                                <td>1</td>
                                <td>65000</td>
                              </tr>
                              <tr>
                                <td>#23312</td>
                                <td>21332</td>
                                <td>Joko</td>
                                <td>Mahfud</td>
                                <td>2</td>
                                <td>65000</td>
                              </tr>
                              <tr>
                                <td>#13312</td>
                                <td>21331</td>
                                <td>Livi</td>
                                <td>Joko</td>
                                <td>1</td>
                                <td>65000</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Data Kios</h4>
                      </p>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID Kios</th>
                              <th>Nomor Kios</th>
                              <th>Nama Penyewa</th>
                              <th>Lama Sewa</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>#13312</td>
                              <td>21331</td>
                              <td>Jamal</td>
                              <td>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><label class="badge badge-danger">KOSONG</label></td>
                            </tr>
                            <tr>
                              <td>#23312</td>
                              <td>21332</td>
                              <td>Joko</td>
                              <td>
                                <div class="progress">
                                    <div class="progress-bar badge-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><label class="badge badge-success">TERISI</label></td>
                            </tr>
                            <tr>
                              <td>#33312</td>
                              <td>21333</td>
                              <td>Agung</td>
                              <td>
                                <div class="progress">
                                    <div class="progress-bar bg-alert" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><label class="badge badge-success">TERISI</label></td>
                            </tr>
                            <tr>
                              <td>#43312</td>
                              <td>21334</td>
                              <td>Bair</td>
                              <td>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><label class="badge badge-danger">KOSONG</label></td>
                            </tr>
                            <tr>
                              <td>#53312</td>
                              <td>21335</td>
                              <td>Mahfud</td>
                              <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><label class="badge badge-success">TERISI</label></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div> -->


                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Detail Kios</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="col-md-12 grid-margin stretch-card">
                          <div class="card">
                              <div class="card-body">
                                  <h4 class="card-title">Sewa</h4>                    
                                  <form class="forms-sample">
                                  <div class="form-group">
                                      <label for="idtoko">ID Toko</label>
                                      <input type="text" class="form-control" id="idtoko" placeholder="ID Toko">
                                  </div>
                                  <div class="form-group">
                                    <label for="noblokkios">Nomor Kios</label>
                                    <input type="text" class="form-control" id="nokios" placeholder="Nomor Kios">
                                </div>
                                <div class="form-group">
                                    <label for="namapenyewasebelum">Nama Penyewa</label>
                                    <input type="text" class="form-control" id="namapenyewasebelum" placeholder="Nama Penyewa Sebelumnya">
                                </div>            
                                <div class="form-group">
                                    <label for="lamasewa">Harga Sewa</label>
                                    <input type="text" class="form-control" id="lamasewa" placeholder="Lama Sewa">
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label"><input type="checkbox" class="form-check-input"> Kios Tutup</label>
                                </div>                                
                              </form>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <% include ../../partials/_footer %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="<%=baseURL%>/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="<%=baseURL%>/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="<%=baseURL%>/assets/vendors/chart.js/chart.umd.js"></script>
    <script src="<%=baseURL%>/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="<%=baseURL%>/assets/js/off-canvas.js"></script>
    <script src="<%=baseURL%>/assets/js/template.js"></script>
    <script src="<%=baseURL%>/assets/js/settings.js"></script>
    <script src="<%=baseURL%>/assets/js/hoverable-collapse.js"></script>
    <script src="<%=baseURL%>/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="<%=baseURL%>/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="<%=baseURL%>/assets/js/dashboard.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src="<%=baseURL%>/assets/js/Chart.roundedBarCharts.js"></script> -->
    <!-- End custom js for this page-->
    <script>
      let includes = document.getElementsByTagName('include');
      for (var i = 0; i < includes.length; i++) {
         let include = includes[i];
         load_file(includes[i].attributes.src.value, function(text) {
            include.insertAdjacentHTML('afterend', text);
            include.remove();
         });
      }
      function load_file(filename, callback) {
         fetch(filename).then(response => response.text()).then(text => callback(text));
      }
   </script>
  </body>
</html>