<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>
		TICKETING
	</title>
	<meta name="description" content="Latest updates and statistic charts">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--begin::Web font -->
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
	<script>
		WebFont.load({
			google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>
	<link href="<%=baseURL%>/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
	<link href="<%=baseURL%>/assets/theme/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="<%=baseURL%>/assets/theme/default/media/img/logo/favicon.ico" />
</head>

<body
	class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<div class="m-login m-login--signin  m-login--5" id="m_login">
			<div class="m-login__wrapper-1 m-portlet-full-height"
				style="background-image: url(../../../assets/app/media/img//bg/bg-1.jpg);">
				<div class="m-login__wrapper-1-1">
					<div class="m-login__contanier">
						<div class="m-login__content">
							<div class="m-login__logo">
								<a href="#">
									<img src="../../../assets/app/media/img//logos/logo-2.png">
								</a>
							</div>
							<div class="m-login__title" style="color:plum">
								<h3>
									TICKETING SYSTEM
								</h3>
							</div>
						</div>
					</div>
					<div class="m-login__border">
					</div>
				</div>
			</div>
			<div class="m-login__wrapper-2 m-portlet-full-height">
				<div class="m-login__contanier">
					<div class="m-login__signin">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Login To Your Account
							</h3>
						</div>
						<form id="flogin" class="m-login__form m-form" method="POST" action="/process-login">
							<div class="input-group m-input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										@
									</span>
								</div>
								<input autofocus type="text" class="form-control m-input" placeholder="Username"
									value="mhandharbeni" aria-describedby="basic-addon1" name="username" id="username"
									required>
							</div>
							<div class="col-lg-12">
								<label>
								</label>
								<input id="password" type="password" class="form-control m-input" value="12345"
									placeholder="Enter password" name="password" required>
							</div>

						</form>
						&nbsp;&nbsp;
						<div class="row m-login__form-sub">
							<div class="col m--align-left">

							</div>
							<div class="col m--align-right">
								<a href="/forgetpass/" id="m_login_forget_password" class="m-link">
									Forget Password ?
								</a>
							</div>
						</div>

						&nbsp;
						&nbsp;
						&nbsp;
						<div class="m-login__form-action" style="margin-left: 150px">
							<button id="m_login_signin_submit"
								class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
								Sign In
							</button>
						</div>
					</div>

					<div class="m-login__forget-password">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Forgotten Password ?
							</h3>
							<div class="m-login__desc">
								Enter your email to reset your password:
							</div>
						</div>
						<form class="m-login__form m-form" action="">
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Email" name="email"
									id="m_email" autocomplete="off">
							</div>
							<div class="m-login__form-action">
								<button id="m_login_forget_password_submit"
									class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Request
								</button>
								<button id="m_login_forget_password_cancel"
									class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom"
									onclick="window.location.href='/login/'">
									Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="<%=baseURL%>/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
	<script src="<%=baseURL%>/assets/theme/default/base/scripts.bundle.js" type="text/javascript"></script>
</body>
</html>

<script>
	$('#m_login_signin_submit').click(function () {
		var em = document.getElementById("username");
		var pas = document.getElementById("password");
		var form = $('#flogin');
		$.ajax({
			url: $('#flogin').attr('action'),
			data: $('#flogin').serialize(),
			method: 'POST',
			success: function (res) {
				if (res) {
					setInterval(() => { window.location.reload(); }, 2000);
					swal({ position: "center", type: "success", title: "login success", showConfirmButton: !1, timer: 1500 });
					window.location.href = "/company";
				} else {
					swal({ position: "center", type: "error", title: "login failed", showConfirmButton: !1, timer: 1500 })
				}
			},
			error: function () {
				swal({ position: "center", type: "success", title: "login Failed", showConfirmButton: !1, timer: 1500 });
			}

		})
	})

	$("#email").keyup(function (event) {
		if (event.keyCode === 13) {
			$("#m_login_signin_submit").click();
		}
	});
	$("#password").keyup(function (event) {
		if (event.keyCode === 13) {
			$("#m_login_signin_submit").click();
		}
	});

</script>